<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>hsdfioifsdoihdf</h1>

<% for(var i=0; i < results.length; i++) { %>
    <h1> 
        <%=results[i].id%></h1><br></br>
        <%=results[i].title%></h1><br></br>
        <%=results[i].status_task%></h1><br></br>
    </h1> 
<% } %>

</body>
</html>